body{
margin:20px;
padding: 20px;
font-family: 'source sans pro', sans-serif;
max-width:700px;      
width:80%;
}

/*responsive page to max width of seven hundred but it always stays 80% width.Minimum can be add as well with min-width */


h4{    
color: #3098dd;
text-transform:uppercase;
}

h2{
    color: #354b63;

}

hr{
margin:10px;

width:95%;
}


.line{
border-left: 4px solid #909090;
padding-left: 4px;
}